<!DOCTYPE html>
<html>
   <head>
     <meta charset="UTF-8">
        <title>new.erb</title>
  </head>
  <body>
    
    <form method="post" action="/articles">
      <p>Create New Articles:</p>
      Title: <input type="text" id="title" name="title">
      <br>
      Content:<br><textarea id="content" type="text" name="content"></textarea>
      <button type="submit" value="Submit">Submit</button>
    </form>
<br>
  <a href="/articles">Go back to articles</a>
  </body>
</html>